# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.zip
*.tar.gz
*.rar

# Mongoose build dir
build

# Any keys or certs for AWS
*.pem

# Transient properties used for the deploy.sh scrip
properties.sh